@import 'base.css';
:root{
    --font-color-left: #FFFFFF;
    --right-box-background: rgb(45, 45, 45);
    --left-side-color: #6565fd;
}
/*Storing icons/photos to be used later in this segment*/

.placeholder{
    display: none;
}
.main__content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Creating the boxes + overlap effect */
.main__box{
    margin-top: 8vh;
    display: flex;
    width: 60%;
}
.left__box{
    position: relative;
    width: 50vw;
    height: 70vh;
    background: var(--left-side-color);
    overflow: hidden;
    border-radius: 5vmax;
}
.right__box{
    background-color: var(--right-box-background);
    width: 80%;
    height: 70vh;
    overflow: visible;
    margin-left: -10vw;
    border-radius: 5vmax;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/*Left side photo stuff + text positioning*/
.photo__frame{
    height: 100%;
    display: flex;
    justify-content: center;
}
.left__image{
    object-fit: cover;
    opacity: .25;
    height: 100%;
    object-position: center;
    
}
.top__segment__left-box{
    position: absolute;
    top: 5vh;
    left: 4vw;
}

.bottom__segment__left-box{
    position: absolute;
    bottom: 5vh;
    left: 4vw;
}
.top__segment__left-box, .bottom__segment__left-box{
    color: var(--font-color-left);
}

.top__segment__left-box .location__svg{
    padding-left: 0;
    margin-left: -1.5vw;
    fill: var(--font-color-left);
}
.left__location__wrapper{
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: left;
}

.bottom__segment__left-box svg{
    fill: var(--font-color-left);
    width: 4vw;
    height: 7.5vh;
}
/*Left Side font + SVG Sizes*/
.weekday{
    font-size: 2vw; 
}
.date{
    font-size: 2.5vw;
}
.location{
    font-size: 1.5vw;
}
.location__svg{
    width: 2vw;
    height: 3.5vh;
}
.temperature{
    font-size: 3vw;
}
.condition{
    line-height: 4vh;
    font-size: 2.5vw;
}


.top__info{
    text-align: right;
    color: white;
    position: relative;
    top: 3vh;
    right: 3vw;
    width: 33.5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
}
/* Sorting out left side, top text */
#precip{
    grid-area: 1 / 1 / 2 / 2;
}
#precip__chance{
    grid-area: 1 / 2 / 2 / 3;
}
#humidity{
    grid-area: 2 / 1 / 3 / 2;
}
#humidity__percent{
    grid-area: 2 / 2 / 3 / 3;
}
#wind{
    grid-area: 3 / 1 / 4 / 2;
}
#wind__speed{
    grid-area: 3 / 2 / 4 / 3;
}
.float__left{
    text-align: left;
    font-size: 1.5vw;
    font-weight: bold;
}
.float__right{
    text-align: right;
    font-size: 1.5vw;
}

/*Managing forecast cards on bottom right*/

.week__forecast{
    margin-left: 10vw;
    margin-top: auto;
    color: var(--font-color-left);
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.forecast__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
}
.forecast__card h1{
    font-size: 3.5vh;
}
.forecast__card h2{
    font-size: 2.5vh;
}
.forecast__icon__wrapper svg{
    width: 10vw;
    height: 10vh;
    fill: #fff
}


/*Managing bottom button*/

.change__location{
    display: none;
}

.button__wrapper{
    display: flex;
    width: 100%;
    height: 8.7vh;
    justify-content: flex-end;
    margin-bottom: 5vh;
}
.button__wrapper .change__location{
    margin-top: 1.2vh;
    padding: 1vh 0 1vh 0;
    width: 70%;
    margin-right: 3vw;
    border-radius: 2vmax;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5vw;
    font-weight: bold;
}

.button__wrapper button svg{
    margin-right: .5vw;
}
.change__location:hover, .change__location:focus{
    cursor: pointer;
}

/*This area holds the hidden location input information
Only shown upon button press of "Change location"*/

.morph__text-box{
    display: none;
    padding-top: 1vh;
    width: 85%;
    height: 8vh;
    /*display: flex; Enable this with Javascript to "turn on this section" */
    justify-content:flex-end;
    align-items: center;
    transition: display linear 5s;
}
.location__input{
    text-align: center;
    margin-right: 3vw;
    width: 100%;
    height: 5vh;
    border: none;
}
.location__input:focus{
    outline: none;
}
.submit__button{
    font-weight: bold;
    font-size: 1.5vw;
    position: relative;
    left: 10%;
    width: 30%;
    outline:none;
    border: 1px black;
    height: 7vh;
}
.submit__button:hover{
    cursor: pointer;
}

.location__input, .submit__button{
    border-radius: 2vmax;
    align-items: center;
    padding: 1vh 0 1vh 0;
}
.location__input{
    font-size: 1.5vw;
}

@media(max-width: 1400px){
    .main__content{
        margin-bottom: 8vh;
    }
    .main__box{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    .main__box .left__box{
        position:initial;
        width: 72vw;
    }
    .right__box{
        position: relative;
        bottom: 10vh;
    }
    .top__segment__left-box{
        top: 23vh;
        left: 20vw;
    }  
    .bottom__segment__left-box{
        margin-bottom: 3vh;
        bottom: 14vh;
        left: 20vw;
    }
    .weekday{
        font-size: 10vw;
    }
    .date{
        font-size: 8vw;
    }
    .location__svg{
        width: 6vw;
        height: 6vh;
    }
    .location{
        font-size: 6vw
    }
    .temperature{
        font-size: 8vw;
    }  
    .condition{
        font-size: 6vw;
    }
    .left__svg__wrapper svg{
        width: 8vw;
        height: 12vh;
    }
    .right__box, .week__forecast{
        margin-left: 0;
    }
    .top__info{
        width: 90%;
    }
    .week__forecast, .button__wrapper{
        justify-content: center;
        width: 100%;
    }
    .float__left{
        font-size: 4vw;
    }
    .float__right{
        font-size: 3vw;
    }
    .week__forecast{
        margin-top: -3vh;
    }
    .forecast__card h1{
        font-size: 5vw;
    }
    .forecast__card h2{
        font-size: 5vw;
    }
    .forecast__card:not(:first-child){
        margin-left: 5vw;
    }
    .button__wrapper .change__location{
        font-size: 4vw;
    }

}

@media(max-width: 850px){

    .main__box{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .right__box{
        bottom: 7vh;
    }
    .main__box .left__box, .main__box .right__box{
        width: 95vw;
    }
    .week__forecast{
        justify-content: space-around;
        margin-top: -4vh;
    }
    .forecast__icon__wrapper{
        line-height: -10vh;
    }
    .forecast__icon__wrapper svg{
        width: 13vw;
        height: 13vw;
    }
    .top__segment__left-box{
        top: 23vh;
        left: 10vw;
    }  
    .bottom__segment__left-box{
        bottom: 14vh;
        left: 10vw;
    }
    .weekday{
        font-size: 14vw;
    }
    .date{
        font-size: 12vw;
    }
    .location__svg{
        width: 8vw;
        height: 8vh;
    }
    .location{
        font-size: 8vw
    }
    .temperature{
        font-size: 10vw;
    }  
    .condition{
        font-size: 10vw;
    }
    .left__svg__wrapper svg{
        width: 15vw;
        height: 12vh;
    }
    .float__left{
        font-size: 4vw;
    }
    .float__right{
        font-size: 3vw;
    }
    .forecast__card h2{
        font-size: 6vw;
    }
    .button__wrapper .change__location{
        font-size: 6vw;
    }
    .float__left{
        font-size: 8vw;
    }
    .float__right{
        font-size: 6vw;
    }
    .forecast__card h1{
        font-size: 8vw;
    }
    .forecast__card h2{
        font-size: 7vw;
    }
    .button__wrapper{
        display: flex;
        margin: 0;
        width: 90vw;
        justify-content: center;
        margin-right: 1vw;
    }
    .button__wrapper .change__location{
        width: 90vw;
    }
    .morph__text-box{
        width: 100%;
        justify-content: left;
        
    }
    .submit__button{
        font-size: 5vw;
    }
    .location__input{
        margin-right: 12vw;
        width: 100%;
        font-size: 4vw;
    }
}
@media(max-width: 650px){
    .week__forecast{
        justify-content: space-around;
        margin-top: 4vh;
    }
}