@import 'base.css';

.main__content{
    height: 100%;
    display: flex;
    justify-content: center;
}

.main__box{
    display: flex;
    flex-direction: row;
}


.left__box{
    position: relative;
}
.left__image{
    background: linear-gradient( rgba(255, 0, 0, 0.45), 
    rgba(255, 0, 0, 0.45) ),
  url("../images/trees.jpg");
}

.top__segment__left-box{
    font-color: #fff;
    position: absolute;
    top: 8px;
    left: 15px

}

.bottom__segment__left-box{
    position: absolute;
    bottom: 8px;
    left: 15px

}